"*":
  core:
    disabledPackages: [
      "whitespace"
    ]
    projectHome: "/Users/eillarra/Code"
    telemetryConsent: "limited"
  editor:
    fontSize: 12
    preferredLineLength: 120
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 4
    tabLength: 4
  "exception-reporting":
    userId: "efdfecb3-60b6-0183-acc6-044441766cbd"
  "linter-flake8":
    maxComplexity: 10
    maxLineLength: 120
  "linter-ui-default":
    showPanel: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".editorconfig.source":
  editor:
    preferredLineLength: 120
    softWrapHangingIndent: 4
    tabLength: 4
