#!/usr/bin/env bash


#
# Update
#
alias update="sh ~/.dotfiles/update.sh"


#
# Easier navigation
#
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

alias ll="ls -lhA"  # Current directory's listing, in long format


#
# Passwords
#
alias password="dd if=/dev/urandom bs=1 count=40 2>/dev/null | base64"


#
# Show/hide hidden files in Finder
#
alias hidehidden="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"
alias showhidden="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"


#
# Hide/show all desktop icons (useful when presenting)
#
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"


#
# Power metrics
#
alias sensors="sudo powermetrics --samplers smc -i1 -n1"
alias temperature="sudo powermetrics|grep -i \"CPU die temperature\""
